:root {
    --primary-color: #ff004f;
    --secondary-color: #b54769;
    --text-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: var(--text-color);
}

#header {
    width: 100%;
    height: 100svh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span {
    color: var(--primary-color);
}

.logo h1 {
    font-family: 'Special Elite';
    font-size: 2.5rem;
}

.logo h1 span {
    font-family: 'Special Elite';
    color: var(--primary-color);
}
/* -----About----- */
#about {
    padding: 80px 0;
    color: #ababab;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--secondary-color);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----Services----- */
#services {
    padding: 30px 0px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    transition: bacground 0.5s, transform 0.5s ease;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #FFF;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--primary-color);
    transform: translateY(-10px);
}

/* ----Portfolio----- */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    text-decoration: none;
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    width: fit-content;
    margin: 50px auto;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 14px 50px;
    color: #fff;
    transition: background 0.5s;
    background: #080808;
    cursor: pointer;
}

.btn:hover {
    background: var(--primary-color);
}

/* -----Contact----- */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

.contact-left .btn {
    display: inline-block;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background: #262626;
    color: #fff;
    border-radius: 6px;
}

form input:focus, form textarea:focus {
    border: 1px solid var(--primary-color);
}

.contact-right .btn {
    display: inline-block;
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
}

.copyright {
    width: 100%;
    text-align: center;
    background: #262626;
    padding: 15px 0;
    font-weight: 300;
    margin-top: 20px;
}

nav .fa-solid {
    display: none;
}

/* -----Small screens----- */
@media (max-width: 600px) {
    #header {
        background-image: url(images/phone-background.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    
    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 16px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 30px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}